

.footer {
    background-color: #f9f9f9; /* Svijetla pozadina za footer */
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #333; /* Tamno siva boja za tekst */
    border-top: 1px solid #ddd; /* Tanka siva linija iznad footera */

}
